[[redirects]]
  from = "/sucesso/*"
  to = "/sucesso"
  status = 200
  force = true

[[redirects]]
  from = "/sucesso"
  to = "/sucesso"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
