[build]
  publish = "build"
  command = "npm run build"

[functions]
  directory = "netlify/functions"

[scheduled_functions]
  from = "verificar-mensagens.js"
  schedule = "0 9,12,15,18,21 * * *"  # 9h,12h,15h,18h,21h
