.servicos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 20px;
  background-color: #FFFFFF;
}

.servicos-gif {
  width: 250px;
  height: auto;
  margin-bottom: 30px;
  border-radius: 12px;
}

.botao.pagamento {
  background-color: #6C5CE7;
  color: #FFF;
}

.botao.pagamento:hover {
  background-color: #5a4bcb;
}

.botao.voltar {
  background-color: #333;
}

.botao.voltar:hover {
  background-color: #111;
}
