.sucesso2-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
}

.sucesso2-container h1 {
  color: #28a745;
  font-size: 28px;
  margin-bottom: 10px;
}

.sucesso2-container p {
  color: #333;
  font-size: 18px;
  margin-bottom: 25px;
}

.sucesso2-gif {
  width: 180px;
  margin-bottom: 20px;
}
